{# Coupon Usage Table #}
{% if couponUsage|length > 0 %}
	<div class="bs-section">
		<h3 class="bs-section__title">{{ "Coupon Usage"|t('best-sellers') }}</h3>
		<table class="bs-data-table">
			<thead>
				<tr>
					<th>{{ "Code"|t('best-sellers') }}</th>
					<th class="bs-data-table--right">{{ "Uses"|t('best-sellers') }}</th>
					<th class="bs-data-table--right">{{ "Total Discount"|t('best-sellers') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for coupon in couponUsage %}
					<tr>
						<td><code>{{ coupon.code }}</code></td>
						<td class="bs-data-table--right">{{ coupon.uses }}</td>
						<td class="bs-data-table--right">{{ coupon.totalDiscount|commerceCurrency }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endif %}
